* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f3ede3;

    padding: 10px;
}

.page {
    display: none;
    text-align: center;
}

.page.active {
    display: block;
}

img {
    display: block;

    max-width: 100%;
    max-height: 95vh;

    width: auto;
    height: auto;

    object-fit: contain;

    margin: auto;
}

#cover-page img {
    cursor: pointer;
}

#back-button {
    margin-bottom: 15px;

    padding: 10px 20px;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    font-size: 16px;
}
